@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
	--bg-color: #282a36;
	--fg-color: #f8f8f2;
	--highlight-color: #bd93f9;
	--light-highlight-color: #e2d2fa;
	--main-font: 'JetBrains Mono', monospace;
}

html{
    font-family: var(--main-font);
    max-width:512px;
    margin:0 auto;
    padding:64px 32px
}

*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    box-sizing:border-box;
    letter-spacing:.005em;
}

body{
    background: var(--bg-color);
    color: var(--fg-color);
}

a{
    color: var(--highlight-color);
}

a:hover{
    text-decoration:underline
}

a:visited{
    color: var(--light-highlight-color);
}

.section{
    margin-bottom:64px
}

.section:last-of-type{
    border-bottom:0;
    padding-bottom:0;
    margin-bottom:0
}

.me{
    width:48px;
    height:48px;
    border-radius:24px;
    margin-bottom:12px
}

h1{
    font-weight:600;
    font-size:32px;
    margin-bottom:8px
}

h2{
    font-weight:450;
    font-size:24px;
    line-height:24px
}

.link{
    font-size:20px;
    line-height:20px;
    margin-right:12px;
    font-weight:450
}

.links .link{
    margin-right:0;
    display:block;
    margin-bottom:16px
}

h6{
    font-weight:600;
    font-size:18px;
    margin-bottom:24px
}

h3{
    font-weight:700;
    font-size:22px;
    line-height:24px;
    margin-bottom:24px
}

p{
    font-size:18px;
    font-weight:450;
    font-style: italic;
}

ul li{
    margin-bottom:20px
}

ul li:last-of-type{
    margin-bottom:0
}
