@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
	--bg-color: #282a36;
	--fg-color: #f8f8f2;
	--highlight-color: #bd93f9;
	--light-highlight-color: #e2d2fa;
	--main-font: 'JetBrains Mono', monospace;
}

html{
    font-family: var(--main-font);
    max-width:900px;
    margin:0 auto;
    padding:64px 32px
}

*{
    box-sizing:border-box;
    letter-spacing:.005em;
}

body{
    background: var(--bg-color);
    color: var(--fg-color);
}

a{
    color: var(--highlight-color);
}

a:hover{
    text-decoration:underline
}

a:visited{
    color: var(--light-highlight-color);
}

h1{
    font-weight:600;
    font-size:32px;
	margin-bottom: 8px;
}

h2{
    font-weight:800;
    font-size:26px;
	margin-bottom: 20px;
}

.link{
    font-size:20px;
    line-height:20px;
    font-weight:450
}

.links .link{
    margin-right:0;
    display:block;
}

h6{
    font-weight:600;
    font-size:18px;
	margin-bottom: 8px;
}

h3{
    font-weight:700;
    font-size:22px;
	margin-bottom: 8px;
}

p{
	text-align: justify;
    font-size:18px;
	margin-top: 12px;
	margin-bottom: 12px;
}

ul li{
	font-size: 17px;
}

pre {
	background: #191a21; 
	white-space: pre-wrap;
    font-size: 14px;
    padding: 1em 1.5em;
    margin-bottom: 1.6em;
	margin-top: 1.6em;
    border-left: 3px solid #b8bb26;
}

footer{
    margin-top: 50px;
    font-size: 18px;
    font-style: bold;
    text-align: center;
}
